.fondo-pantalla-completa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/img/portada 5.jpg');
  background-size: cover;
  background-position: center;
  z-index: -10; 
}


.pagina-principal-contenedor {
  width: 100%;
  min-height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 40px;
  box-sizing: border-box;
}


.menu-categorias {
  background-color: #3b2f50; 
  padding: 20px 30px 40px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.titulo-categorias {
  background-color: #d870a0; 
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

.lista-botones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.btn-categoria {
  background-color: #6b528b;
  border: none;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
  width: 100%;
}

.icono-estrella {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid #d4af37;
  font-size: 0.8em;
}

.btn-categoria:hover, .btn-categoria.activo {
  background-color: #8b6ab0;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(216, 112, 160, 0.6);
}

.circulo-fondo {
  background-color: #d1e2f3; 
  border-radius: 50%; 
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.imagen-dragon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}